#principal {
  /*  float:left;*/
    width:100%;
}

#principal ul {
    list-style: none;
}

#principal li {
    /*float: left;*/
    display: inline;
    margin: 0 1px 0 1px;
    background: #ff761a67;

}

#principal li a {
    border: solid 1px #ff751a;
    color: #a0a0a0;
   /* display: block;*/
    padding: 2px;
    text-decoration: none;
    
}

#principal ul li.seleccionado {
    font: black;
}

#contenido {
    border: #c0c0c0 1px solid;
}

